<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Met kovanca:</h1>
    <div id="coin"> Pritisni gumb za met kovanca </div>
    <input type="text" name="" id="vrednost">
    <button onclick="btnClick()" type="button">FLIP!</button>

</body>

</html>

<script>
    function btnClick(params) {
        var inpTxt = document.getElementById("vrednost").value
        var divCoin = document.getElementById("coin")

        $.ajax({
            url: "/coinData",
            data: {
                vrednost: inpText
            },
            success: function (result) {
                divCoin.innerHTML = result
            }
        });

        
        //  console.log("BAM")

    }

</script>